{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container mb-5">
        <div class="row align-items-center position-relative" style="z-index: 1;">
            <div class="col-lg-6">
                <div class="title-heading text-center text-lg-start">
                    <h4 class="heading fw-bold mb-3 mt-3">{{ product_dolphin_meet_01_header|safe }}</h4>
                    <p class="para-desc text-muted mx-auto mx-lg-start mb-0">
                        {{ product_dolphin_meet_01_content|safe }}
                    </p>
                </div>
            </div><!--end col-->

            <div class="col-lg-6 mt-4 pt-2 mt-lg-0 pt-lg-0">
                <div class="card border-0 shadow rounded ms-lg-4 overflow-hidden">
                    <div class="d-flex p-2 bg-light justify-content-between align-items-center">
                        <div>
                            <a href="javascript:void(0)" class="text-danger"><i class="mdi mdi-circle"></i></a>
                            <a href="javascript:void(0)" class="text-warning"><i class="mdi mdi-circle"></i></a>
                            <a href="javascript:void(0)" class="text-success"><i class="mdi mdi-circle"></i></a>
                        </div>

                        <small class="fw-bold"><i
                                class="mdi mdi-circle-medium text-success"></i> {% translate "GOOD CONNECTION" %}
                        </small>
                    </div>
                    <div class="bg-light px-2 position-relative">
                        <video class="w-100 rounded" controls autoplay loop>
                            <source src="{% static "video/web_conference.mp4" %}" type="video/mp4">
                        </video>

                        <div class="position-absolute top-0 start-0">
                            <div class="mt-2 ms-3">
                                <span class="badge bg-danger">LIVE</span>
                                <small class="mb-0 text-white title-dark">4 {% translate "Attendees" %}</small>
                            </div>
                        </div>
                    </div>

                    <div class="p-2 bg-light">
                        <p class="text-muted mb-0">
                            <b>{% translate "Note" %}:</b> {% translate "This video is only for demo purposes." %}</p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    {% include 'django_template_landrick/seg_product_comparison.html' %}
    {% include 'django_template_landrick/seg_contact_more_info.html' %}
    {% include 'django_template_landrick/seg_faq.html' %}
{% endblock %}
