{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2 order-1 order-md-2">
                <img src="{% static 'products/letsignit/mockup-outlook-johndoe.webp' %}" class="img-fluid rounded-md"
                     alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2 order-2 order-md-1">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_email_signature_01_header }}</h4>
                    <p class="text-muted">{{ product_email_signature_01_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-100 mb-5">
        <div class="row align-items-center position-relative" style="z-index: 1;">
            <div class="col-lg-6 mt-4 pt-2 mt-lg-0 pt-lg-0">
                <div class="card border-0 shadow rounded ms-lg-4 overflow-hidden">
                    <div class="bg-light px-2 position-relative">
                        <video class="w-100 rounded" controls autoplay loop muted>
                            <source src="{% static "products/letsignit/video-letsignit-email-signature-manager.mp4" %}"
                                    type="video/mp4">
                        </video>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-6">
                <div class="title-heading text-center text-lg-start">
                    <h4 class="title mb-4">{{ product_email_signature_02_header }}</h4>
                    <p class="para-desc text-muted mx-auto mx-lg-start mb-0">
                        {{ product_email_signature_02_content|safe }}
                    </p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <div class="container mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2 order-1 order-md-2">
                <img src="{% static 'products/letsignit/triptique-mail-banniere.webp' %}" class="img-fluid rounded-md"
                     alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2 order-2 order-md-1">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_email_signature_03_header }}</h4>
                    <p class="text-muted">{{ product_email_signature_03_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'django_template_landrick/seg_product_comparison.html' %}
    {% include 'django_template_landrick/seg_contact_more_info.html' %}
    {% include 'django_template_landrick/seg_faq.html' %}
{% endblock %}
