{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'global_assets/images/user/signup.svg' %}" class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_hosted_exchange_01_header }}</h4>
                    <p class="text-muted">{{ product_hosted_exchange_01_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2 order-1 order-md-2">
                <img src="{% static 'global_assets/images/hosting/deal-hend.svg' %}" class="img-fluid rounded-md"
                     alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2 order-2 order-md-1">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_hosted_exchange_02_header }}</h4>
                    <p class="text-muted">{{ product_hosted_exchange_02_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-100 mt-60 mb-5">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">{% trans "Our solution in comparison" %}</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <table class="table mb-0 table-center">
                <thead>
                <tr>
                    <th class="border-bottom">{% trans "Feature" %}</th>
                    <th class="border-bottom text-center">Dolphin Hosted Exchange</th>
                    <th class="border-bottom text-center">Microsoft Exchange Online</th>
                    <th class="border-bottom text-center">Google Workspace</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% trans "Unified User Management" %}</td>
                    <td class="text-center">
                        <i class="uli uil-check-circle text-success" style="font-size: 2.5em;"></i><br>
                        {% trans "Users, Groups, Computers, etc." %}<br>
                        {% trans "All in one" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-times-circle text-danger" style="font-size: 2.5em;"></i><br>
                        {% trans "Only users for online resources" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-times-circle text-danger" style="font-size: 2.5em;"></i><br>
                        {% trans "Only users for online resources" %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Hosting Location" %}</td>
                    <td class="text-center">
                        <i class="uli uil-check-circle text-success" style="font-size: 2.5em;"></i>
                        <br>{% trans "Wuppertal, Germany" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-question-circle text-warning" style="font-size: 2.5em;"></i>
                        <br>{% trans "Europe / USA (United States)" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-times-circle text-danger" style="font-size: 2.5em;"></i>
                        <br>{% trans "USA (United States)" %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans "Data Processing Contract" %}<br>
                        {% trans "(DSGVO / GDPR)" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-check-circle text-success" style="font-size: 2.5em;"></i><br>
                        {% trans "individually possible" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-times-circle text-danger" style="font-size: 2.5em;"></i><br>
                        {% trans "only pre-signed without purpose" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-times-circle text-danger" style="font-size: 2.5em;"></i><br>
                        {% trans "not available" %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Active Sync" %}</td>
                    <td class="text-center">
                        <i class="uli uil-check-circle text-success" style="font-size: 2.5em;"></i><br>
                        {% trans "original Exchange protocol" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-check-circle text-success" style="font-size: 2.5em;"></i><br>
                        {% trans "original Exchange protocol" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-question-circle text-warning" style="font-size: 2.5em;"></i><br>
                        {% trans "Exchange emulation" %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "CloudPBX integration" %}</td>
                    <td class="text-center">
                        <i class="uli uil-check-circle text-success" style="font-size: 2.5em;"></i><br>
                        {% trans "Out of the box" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-question-circle text-warning" style="font-size: 2.5em;"></i><br>
                        {% trans "Limited, only with SBC" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-times-circle text-danger" style="font-size: 2.5em;"></i><br>
                        {% trans "not available" %}
                    </td>
                </tr>
                <tr>
                    <td>{% trans "IoT integration" %}</td>
                    <td class="text-center">
                        <i class="uli uil-check-circle text-success" style="font-size: 2.5em;"></i><br>
                        {% trans "Out of the box" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-times-circle text-danger" style="font-size: 2.5em;"></i><br>
                        {% trans "not available" %}
                    </td>
                    <td class="text-center">
                        <i class="uli uil-times-circle text-danger" style="font-size: 2.5em;"></i><br>
                        {% trans "not available" %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% include 'django_template_landrick/seg_product_comparison.html' %}
    {% include 'django_template_landrick/seg_contact_more_info.html' %}
    {% include 'django_template_landrick/seg_faq.html' %}
{% endblock %}
